:root{
    --vermelho: #e50914; 
    --preta: #0a0a0a;
    --preta1: #0C0C0C;
    --preto_claro: #151515;
    --cinza_claro: #eeeeee; 
    --cinza_escuro: #aaa;
}

/*Resetando as configurações iniciais da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body {
    background-color: var(--preta);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/*-------------------------------------------*/
/*Cabeçalho*/
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;

}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: "Bebas","Arial Black";
    font-size: 40px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none; /*Remover sublinhado*/
    color: var(--cinza_escuro);
    font-family: 'Trebuchet MS', Arial;
}

/*Quando o mouse estiver sobre o elemento*/
header nav a:hover { 
    color: var(--cinza_claro); 
}

/*-------------------------------------------*/
/*Titulo*/

section .playlist{
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 0;
    margin: 0;
    background-color: var(--preto_claro);
    width: 100%;
    height: 240px;

    font-family: 'Trebuchet MS', Arial;
}

section .playlist img {
    height: 80%;
    padding: 0 15px;
    border-radius: 50%;
}

section .playlist .textos{
    height: 50%;
    width: 100%;
}

section .playlist .textos h3{
    color: var(--cinza_claro);
    padding-bottom: 10px;
    font-size: 32px ;
}

section .playlist .textos p{
    color: var(--cinza_escuro);
    font-size: 16px ;
}

/*-------------------------------------------*/
/*Main*/

.table-soundtrack {
    
    width: 100%;
    font-family: 'Trebuchet MS', arial;
}

table tr{
    background-color: var(--preta);
}

table tr:nth-child(even){
    background-color: var(--preta1);
}

table th {
    padding: 5px 0;
    background-color: var(--preto_claro);
    color: var(--cinza_escuro);
    font-size: 14px;
}

table td {
    padding: 5px 0;
    color: var(--cinza_claro);
    text-align: center;
    font-size: 12px;
    transition: .3s ease-out;
}

table td:hover {
    background-color: var(--cinza_claro);
    color: var(--preta)
}
