@media screen and (max-width: 700px){
    /*index.html e index1.html*/
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    .botao {
        height: 40px;
        width: 500px;
        margin-top: 5px;
        margin-right: 10px;
    }

    .filme-principal .titulo {
        font-size: 42.5px;
    }

    .filme-principal .descricao {
        font-size: 12.5px;
    }
}

@media screen and (max-width: 900px){
    .botao {
        width: 500px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 360px){
    header .container nav a{
        font-size: 14px;
    }

    .filme-principal {
        margin-top: 10px;
        background-size: 100%;
        background-repeat:no-repeat;
        display: flex;
        justify-content: space-between;
        height: 300px;
    }

    .filme-principal .titulo {
        width: 350px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        
    }

    .filme-principal .descricao {
        width: 350px;
        font-size: 12px;
        display: flex;
        margin-top: 20px;
    }

    .botoes {
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }

    .botao {
        width: 350px;
        margin-bottom: 10px;
    }

    .box-filme {
        background-size:cover;
        display: block;
    }
    
    .carrosel-filmes {
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
}
